
.attribution { 
    position: absolute;
    bottom: 0;
    margin-bottom: 10px;
    display: flex;
    justify-self: center;
    align-items: center;
    font-size: 0.6875rem; 
    text-align: center; 
    z-index: 30;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

body{
    margin: 0;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.upper-bar{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    background-image: url(images/pattern-bg-desktop.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 36vh;
    min-height: 20vh;
    overflow: hidden;
    z-index: 0;
    
    
}

.upper-bar-title{
    margin-top: 25px;
    display: flex;
    color: white;
    font-family: "Rubik", sans-serif;
    font-weight: 500;

}

.search-bar{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.search-bar-type{
    width: 470px;
    height: 55px;
    border-radius: 15px 0px 0px 15px;
    text-indent: 20px;
    font-size: 16px;
    border-style: hidden;
    
    
}

.search-bar-type::placeholder{
    color: rgb(189, 189, 189);
}

.submit-button{
    background-color: black;
    width: 70px;
    border-radius: 0px 15px 15px 0px;
    border-style: hidden;
    height: 55px;
}

.submit-button:hover{
    cursor: pointer;
    background-color: cyan;
}

.info-card{
    position: relative;
    background-color: white;
    height: 140px;
    margin: 0 auto;
    z-index: 3;
    top: -67px;
    margin-bottom: -80px;
    width: 70%;
    border-radius: 16px;
    display: flex;
    flex-direction: row;

}

.partition{
    margin-top: 20px;
    margin-left: 35px;
    margin-right: 2px;
}

.partition-title{
    color: rgb(166, 166, 166);
    font-family: "Rubik", sans-serif;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 2px;
}

.vertical-line-ip, .vertical-line-location, .vertical-line-timezone{
    border-left: 0.5px solid rgb(149, 149, 149);
    height: 75px;
    margin-top: 30px;
    margin-left: 120px;
    margin-right: 2px;
}

.vertical-line-location{
    margin-left: 155px;
}

.vertical-line-timezone{
    margin-left: 165px;
}


.map{
    margin-top: -60px;
    width: 100%;
    height: 65vh;
    overflow: hidden;
    background-color: rgb(209, 209, 209);
    position: relative;
    z-index: 1;
}
